<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/> <jmxConfigurator/>
    <property name="OUTPUT_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS,UTC}] [%-5p] [%-15.15t] [%-50.50c{50}:%5.5L] [%m]%n" />
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${OUTPUT_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/App/log/core/msgai-data-manager/msgai-data-application-vagrant.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/App/log/core/msgai-data-manager/msgai-data-application-vagrant-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>200MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ROOT LOGGER ============================================================================= -->

    <root>
        <level value="INFO" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="dailyRollingFileAppender" />
    </root>

</configuration>
